.loginDiv {
    position: absolute;
    background-color: #182052;
    color: #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.signInSDiv {
    width: 60%;
    height: 80%;
    border-radius: 30px;
    background-color: #464D75;
    position: relative;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.form-control[type="email"] {
    border-radius: 20px;
}

.form-control[type="password"] {
    border-radius: 20px;
}

.btnLogin {
    background-color: orangered;
    border-radius: 20px;
}

.btnGoogle {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 100%;
}

.lineBrake {
    width: 50px;
    height: 5px;
    border-radius: 20px;
    background-color: #ffffff;
}

label {
    text-transform: capitalize;
    font-weight: bold;
}