.welcomeMainDiv .welcomeDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #182052;
    color: #ffffff;
    height: 100vh;
}

.welcomeMainDiv .avtarSqDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 180px;
    background-color: #6A7090;
    border-radius: 30px;
}