.wrapper .main_container{
    width: (100% - 200px);
    margin-top: 70px;
    margin-left: 200px;
    padding: 15px;
    transition: all 0.3s ease;
}

.wrapper .main_container .item:nth-child(1){
    z-index: -10;
    background: none;
    border-radius: 15px;
}

.wrapper .main_container .item{
    border-radius: 15px;
    background:none;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
}

.wrapper.collapse .main_container{
    width: (100% - 70px);
    margin-left: 70px;
}
