.resetDiv {
    position: absolute;
    background-color: #182052;
    color: #ffffff;
    top: 0;
    bottom: 0;
}

.resetDivMainDiv {
    border-radius: 20px;
    background-color: #464D75;
}

.form-control[type="email"] {
    border-radius: 20px;
}

.form-control[type="password"] {
    border-radius: 20px;
}

.form-control[type="date"] {
    border-radius: 20px;
}

.form-control[type="text"] {
    border-radius: 20px;
}

.btnSend{
    background-color: orangered;
    border-radius: 20px;
}

.btnGoogle {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 100%;
}

.lineBrake{
    width: 50px;
    height: 5px;
    border-radius: 20px;
    background-color: #ffffff;
}

label{
    text-transform: capitalize;
    font-weight: bold;
}