.resetDiv {
    position: absolute;
    background-color: #182052;
    color: #ffffff;
    top: 0;
    bottom: 0;
}

.resetDiv .resetDivMainDiv {
    width: 38vw;
    border-radius: 20px;
    background-color: #464D75;
}

.resetDiv input[type="email"] {
    border-radius: 20px;
}

.resetDiv input[type="password"] {
    border-radius: 20px;
}

.resetDiv input[type="date"] {
    border-radius: 20px;
}

.resetDiv input[type="text"] {
    border-radius: 20px;
}

.resetDiv .btnSend {
    background-color: orangered;
    border-radius: 20px;
}

.resetDiv .btnGoogle {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 100%;
}

.resetDiv .lineBrake {
    width: 50px;
    height: 5px;
    border-radius: 20px;
    background-color: #ffffff;
}

.resetDiv label {
    text-transform: capitalize;
    font-weight: bold;
}