.signUpDiv {
    position: absolute;
    background-color: #182052;
    color: #ffffff;
    top: 0;
    bottom: 0;
    padding-top: 0.5rem !important;
}

.signUpDiv .signUpMainDiv {
    width: 45vw;
    border-radius: 20px;
    background-color: #464D75;
}

.signUpDiv input[type="email"] {
    border-radius: 20px;
}

.signUpDiv input[type="password"] {
    border-radius: 20px;
}

.signUpDiv input[type="date"] {
    border-radius: 20px;
}

.signUpDiv input[type="text"] {
    border-radius: 20px;
}

.signUpDiv .btnSignup {
    background-color: orangered;
    border-radius: 20px;
}

.signUpDiv .btnGoogle {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 100%;
}

.signUpDiv label {
    text-transform: capitalize;
    font-weight: bold;
}